body{
    background-color: #F2EDD1;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #689B8A;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#diceImage {
    border-radius: 10px;
    height: 250px;
    width: 260px;

}
.roll-button {
    background-color: #689B8A;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.roll-button:hover {
    background-color: #567B6A;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
    
}